<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>美食</string>
		<key>image</key>
		<string>home_menu_meishi</string>
	</dict>
	<dict>
		<key>title</key>
		<string>电影</string>
		<key>image</key>
		<string>home_menu_dianying</string>
	</dict>
	<dict>
		<key>title</key>
		<string>酒店</string>
		<key>image</key>
		<string>home_menu_yingyuan</string>
	</dict>
	<dict>
		<key>title</key>
		<string>KTV</string>
		<key>image</key>
		<string>home_menu_ktv</string>
	</dict>
	<dict>
		<key>title</key>
		<string>外卖</string>
		<key>image</key>
		<string>home_menu_ waimai</string>
	</dict>
	<dict>
		<key>title</key>
		<string>储值卡</string>
		<key>image</key>
		<string>home_menu_chuzhika</string>
	</dict>
	<dict>
		<key>title</key>
		<string>到店付</string>
		<key>image</key>
		<string>home_menu_daodianfu</string>
	</dict>
	<dict>
		<key>title</key>
		<string>代金卷</string>
		<key>image</key>
		<string>home_menu_daijinjuan</string>
	</dict>
	<dict>
		<key>title</key>
		<string>旅游</string>
		<key>image</key>
		<string>home_menu_lvyou</string>
	</dict>
	<dict>
		<key>title</key>
		<string>洗衣</string>
		<key>image</key>
		<string>home_menu_xiyi</string>
	</dict>
	<dict>
		<key>title</key>
		<string>火锅</string>
		<key>image</key>
		<string>home_menu_huoguo</string>
	</dict>
	<dict>
		<key>title</key>
		<string>休闲娱乐</string>
		<key>image</key>
		<string>home_menu_xiuxianyule</string>
	</dict>
	<dict>
		<key>title</key>
		<string>自助餐</string>
		<key>image</key>
		<string>home_menu_zizhucan</string>
	</dict>
	<dict>
		<key>title</key>
		<string>眼镜</string>
		<key>image</key>
		<string>home_menu_yanjing</string>
	</dict>
	<dict>
		<key>title</key>
		<string>精品网购</string>
		<key>image</key>
		<string>home_menu_jingpintuangou</string>
	</dict>
	<dict>
		<key>title</key>
		<string>更多分类</string>
		<key>image</key>
		<string>home_menu_more</string>
	</dict>
</array>
</plist>
